@charset "utf-8";

body {
	background-color: #dedac8;
	overflow: hidden;
}

h1 {
	font-family: Average, "serif";
	font-size: 40px;
	text-align: center
}

h6 {
	font-family: "Helvetica Neue", "serif";
	font-size: 12px;
	text-align: center
}

p {
	font-family: "Helvetica Neue", "serif";
	font-size: 15px;
	text-align: center
}

span {
	font-style: italic
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.divheader {
	background-colour: black;
}

.link {
	color: black;
	padding: 10px;	
}

.floater {
	float: left;
	position: relative;
	left: 50%;
}

.divs {
	float: left;
	margin-left: 40px;
	width: 500px;
	height: 700px;
	position: relative;
	left: -50%;
	background: #D3CEB8;
	border: 10px;
	padding: 30px;
	border-radius: 20px;
}

.biotext {
	font-size: 20px
}



.footer {
	margin-top: 850px
}
